

@font-face {
  font-family: spacer;

  src: url('fonts/PixelifySans-VariableFont_wght.ttf');
}
body{
  opacity: 95%;
  font-family: spacer;
  background: url('images/theme.jpg'); 
}
* {
  box-sizing: border-box;
}

h1{
  color: rgb(65, 35, 24);
}
h2{
  margin-bottom: 2%;
  margin-top: 2%;
}


#mainTitle{
  font-size: 4em;
  color: rgb(65, 35, 24);
}
#startscreen{
  text-align: center;
  margin-top: 10%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
#map{
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin-left: 5%;
  height: 90%;
  border-radius: 5px;
}
.game{
  
  display: none;
}
.active{
  border: 2px solid red;
}
.map{
  background-color: sandybrown;
  border-radius: 5px;
}
.mountain{
  background-image: url('tiles/mountain_tile.png');
  background-size: contain;
}
.water{
  background-image: url('tiles/water_tile.png');
  background-size: cover;
}
.forest{
  background-image: url('tiles/forest_tile.png');
  background-size: cover;
}
.farm{
  background-image: url('tiles/plains_tile.png');
  background-size: cover;
}
.town{
  background-image: url('tiles/village_tile.png');
  background-size: cover;

}
.grain{
  background-image: url('tiles/grain.jpg');
  background-size: cover;
}


/* jobb oldal formázása*/
.seasons{
  border-radius: 5px;
  font-size: 1.5vw;
}
hr{
  border: 2px solid rgb(65, 35, 24);
}
#spring{
  background-color: greenyellow;
  border: 3px solid green;
}
#summer{
  background-color: yellow;
  border: 3px solid rgb(108, 98, 9);
}
#autumn{
  background-color: rgb(126, 92, 29);
  border: 3px solid rgb(66, 51, 5);
}
#winter{
  background-color: rgb(82, 109, 233);
  border: 3px solid rgb(0, 0, 255);
}
#missionsTable{
  width: 90%;
  height: 20%;
  color: rgb(255, 255, 255);
  margin-left: 10%;
  font-size: 0.7em;
}
.missions{
  background-color: #191919;
  border-radius: 5px;
  padding: 10px;
}
#actions{
  margin-top: 15%;
  margin-left: 30%;
}
.actionButton{
  margin-top: 2%;
  margin-bottom: 5%;
}
#currentElement{
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 100%;
  color: #000;
  table-layout: fixed;
  margin-right: 10%;
  margin-top: 5%;
  
}

#time{
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}









/* kezdő gomb formázása */

.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(65, 35, 24);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}