.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.item6 {grid-area: left;}
.item7 {grid-area: right1;}

@font-face {
  font-family: spacer;
  src: url('fonts/PixelifySans-VariableFont_wght.ttf');
}
body{
  opacity: 95%;
  font-family: spacer;
  background: url('images/theme.jpg'); 
}
h1{
  color: rgb(65, 35, 24);
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header right right'
    'main main main main right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  
  padding: 10px;
}
.elementGrid{
  display: grid;
  grid-template-areas: 
  'left right1';
  
 
  
}
#mainTable{
  margin-top: 20%;
  margin-right: 5%;
  height: 80%;
}

table{
  background-color:whitesmoke ;
  width: 80%;
  margin-left: 5%;
  height: 70%;
  border-radius: 20px;
  border-width: 25px;
  
  vertical-align: top;
}
#seasons{
  background-color: transparent;
  height: 15% !important;
  margin-top: 0% !important;
  table-layout: fixed;
  width: 75%;
  margin-left: 20%;
  
  color: whitesmoke;
  margin-bottom: 0%;
}
#tavasz{
  background-color:rgb(6, 173, 6);
}
#nyar{
  background-color: gold;

}
#title{
  margin-left: 10% !important;
}
#osz{
  background-color: burlywood;
}
#tel{
  background-color: rgb(38, 111, 255);
}
#pontok{
  padding: 0px 0 !important;
  margin-top: 0%;
  font-size: 1em;
}
.mountain{
  background-size: contain;
  background-image: url('images/hegy.jpeg') !important;
}
th, td{
  padding: 20px;
  border-radius:10px;
  background-color: rgb(255, 200, 0);
}
.missions {
  background-color:black;
  font-size: small;
  color: whitesmoke;
  height: 50%;
}
#mainFrame{
  visibility: hidden;
}
.seasontitle{
  font-size: 1.5em;
  text-align: left !important;
  margin-left: 5%;
  margin-bottom: 0;
  margin-top: 3%;
  padding: 0;
}
#missions{
  width: 70%;
  height: 20%;
  margin-top: 0;
  margin-left: 25%;
  background-color: transparent;
  border-spacing: 25px !important;

}
#currentElement{
  background-color: transparent;
  width: 60%;
  height: 30%;
  margin-top: 0% !important;
  margin-left: 0;
  margin-right: 50%;
  margin-bottom: 20%;
  border-radius: 10px;
  border-collapse: collapse;
  
  
}
.elementTable{
  background-color: rgb(255, 255, 255);
}
hr {
  display: block;
  
  
  margin-left: 5%;
  margin-right: auto;
  border-style: inset;
  border: 1px solid black;
  
  
}

.grid-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 1.3vw;
}
 button{
    all: unset;
    background-color: rgb(167, 176, 35);
    color: #1e1e1e;
    margin: 10px;
    padding: 10px;
    width: 20%;
    border-radius: 5px;
    transition: 0.2s;
}
button:hover {
  background-color: rgb(133, 113, 13);
  width: 25%;
  transition: 0.3s;
}